<!doctype html>
<html>
<head>
    <title>my-page</title>
</head>
<link rel="stylesheet" href="/css/index.css"/>
<body>
	<header><img id='me' src="/img/me.jpg" alt="me"></header>  <!--资源默认在根目录，express.static（）静态分发后-->
    <nav>
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/prize">奖品区</a></li>
            <li><a href="/XXX">404</a></li>
            <li><a href="/505">505</a></li>
        </ul>
    </nav>
    <section>
        {{{body}}}
    </section>

</body>

</html>
