<h1>node + express + handlebar + mongodb</h1>

<p>我的博客</p>
<div>
    {{#blogs}}
        <div>
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            <footer>
                <span class="date">{{date}}</span>
                <span class="visited">{{visited}}</span>
            </footer>
        </div>
    {{/blogs}}
</div>