<h1>node + express + handlebar + mongodb</h1>

<p>我的博客</p>
<div>
    {{#each blogs}}
        <div>
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            <footer>
               时间： <span class="date">{{date}}</span>
               访问数：<span class="visited">{{visited}}</span>
            </footer>
        </div>
    {{/each}}
</div>