{{#section 'index-css'}}  <!--自定义不同段落-->

<link rel="stylesheet" href="/css/comment.css" xmlns="http://www.w3.org/1999/html"/>

{{/section}}

{{#if attack}}
    <a id="attack" href="http://www.njugray.com/attack.html" target="_blank"><button>CSRF攻击，点这里</button></a>
{{/if}}

<div id="content"></div>
{{#if token}}
<input id="randomToken" type="text" style="display: none" value="{{token}}" />
{{/if}}

{{#section 'index-script'}}
    <script src="/js/react.js"></script>
    <script src="/js/JSXTransformer.js"></script>
    <script src="/js/jquery.js"></script>
    <script type="text/jsx;harmony=true" src="/js/{{tokenjs}}"></script>
{{/section}}


