{{#section 'index-css'}}  <!--自定义不同段落-->

<link rel="stylesheet" href="/css/comment.css" />

{{/section}}


<div id="content"></div>


{{#section 'index-script'}}
    <script src="/js/react.js"></script>
    <script src="/js/JSXTransformer.js"></script>
    <script src="/js/jquery.js"></script>
    <script type="text/jsx;harmony=true" src="/js/example.js"></script>
{{/section}}


