{{#section 'index-css'}}  <!--自定义不同段落-->
<link rel="stylesheet" type="text/css" href="/css/showdemo.css">
{{> groupinfoCSS}}
{{/section}}

<div class="wrapper">
    <div class="container">
        <h1>网络安全攻击与防御</h1>
        <ul class="demo">
            <a href="//mejustme.duapp.com/comment?denyCsrf=false"><li>CSRF攻击</li></a>
            <a href="//mejustme.duapp.com/comment?denyCsrf=true"><li>CSRF防御</li></a>
            <a href="//mejustme.duapp.com/comment?cookieSafe=false"><li>XSS攻击</li></a>
            <a href="//mejustme.duapp.com/comment?cookieSafe=true"><li>XSS防御</li></a>
        </ul>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{{> groupinfoHTML}}


