{{#section 'index-css'}}  <!--自定义不同段落-->

<link rel="stylesheet" href="/css/purecomment.css" xmlns="http://www.w3.org/1999/html"/>

{{/section}}

{{#if config}}
    <ul id="config">
        <li><input type="checkbox" id="outDefend" checked><label for="outDefend">前端过滤输出</label></li> 
        <li><input type="checkbox" id="serverClear"><label for="serverClear">服务器过滤保存</label></li>
        <li><input type="checkbox" id="cookieSafe"><label for="cookieSafe">cookie签名/httpOnly</label></li>
    </ul>
{{/if}}

<div id="content">
    <div class="commentBox" data-reactid=".0">
        <h1 data-reactid=".0.0">评论</h1>
        <div class="CommentList">
            <!-- list content-->
        </div>
        <div class="commentForm" data-reactid=".0.2">
            <form class="form" data-reactid=".0.2.0">
                <input placeholder="请输入你的名字" class="user" name="author"/>
                <input placeholder="头像地址" class="userImg" name="userImg"/>
                <textarea class="text" placeholder="说点什么吧。。。。" name="text"></textarea>
            </form>
            <input type="submit" value="评论" class="btn" data-reactid=".0.2.0.3" />
        </div>
    </div>
</div>

{{#section 'index-script'}}
    <script src="/js/jquery.js"></script>
    <script src="/js/purecomment.js"></script>
{{/section}}


