html{
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  height: 200%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;

}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}
.comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
  margin-top: 10px;
}
.author_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.author_name {
  position: relative;
  left: 10px;
  top: -50px;
  font-size: 25px;
}
.time {
  float: right;
}
.user {
  width: 300px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
.user:focus {
  outline: #FFB1B1 2px solid;
}
.userImg {
  width: 100%;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  /*margin-left: 1%;*/
}
.userImg:focus {
  outline: #FFB1B1 2px solid;
}
.text {
  display: block;
  width: 100%;
  height: 180px;
  border-radius: 5px;
  border-color: #ddd;
  resize: none;
  margin-top: 10px;
  padding: 10px;
}
.text:focus {
  outline: #FFB1B1 2px solid;
}
.btn {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  background: #f60;
  display: block;
  margin-top: 10px;
}
.btn:focus {

}
.comment_text {
  margin-bottom: 10px;
}
#attack{
  display: block;
  text-align: center;
}
#attack button{
  background-color: #FF4040;
  height: 2em;
  color: white;
}